<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">TODO supply a title</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<p th:text="#{greeting(${displayname})}">Hello, New User!</p>

	<p th:text="#{registration.info.text}">You have
		registered on Personal Budget app, \n to activete your account follow
		the link: \n http://localhost:8080/register/UUSKKS-USJADLA-AskDAK</p>
	<p th:text="${activationLink}"></p>

	<p th:text="#{registration.info.ignoreMsg}">If you don't register
		in app, ignore this message</p>
	<p th:text="#{registration.info.respectMsg}">respectfully, the
		Personal budget team</p>
</body>
</html>
